/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
/* ==========================================================================
   2. GENERAL
   ========================================================================== */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 26px;
}

a:hover, a:focus {
  color: #0f52ba;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #0f52ba;
}

/* ==========================================================================
   2.1 Section Title
   ========================================================================== */
.section {
  padding: 80px 0;
  background: #333;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.section-header .section-title span {
  color: #0f52ba;
}

.section-header .section-subtitle {
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #0f52ba;
  margin-top: 15px;
}



/* ==========================================================================
   2.3 Social Iocns
   ========================================================================== */
.social-icons {
  margin-top: 40px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li a i {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 50%;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #ddd;
  font-size: 24px;
}

.social-icons ul li a {
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: fff;
}

.social-icons ul li a:hover i, .social-icons ul li a:hover {
  color: #fff;
}

.facebook a i, .facebook a {
  color: #4867AA;
}

.facebook a:hover i {
  background: #4867AA;
}

.twitter a i, .twitter a {
  color: #1DA1F2;
}

.twitter a:hover i {
  background: #1DA1F2;
}

.youtube a i, .youtube a {
  color: #DF2926;
}

.youtube a:hover i {
  background: #DF2926;
}

.discord a i, .discord a {
  color: #7289da;
}

.discord a:hover i {
  background: #7289da;
}

/* ==========================================================================
	 2.4  Pre Loader
	 ========================================================================== */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999999;
}

.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0f52ba;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* ========================================================================== 
  -2.5 Scroll To Top
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}

.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #0f52ba;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* ==========================================================================
   3. Hero Area
   ========================================================================== */
#hero-area {
  background: url(../img/hero-area.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #0f52ba;
  opacity: 0.9;
}

#hero-area .contents {
  padding: 35% 0 55%;
}

#hero-area .contents img {
  width: 70%;
  margin-bottom: 25px;
}

#hero-area .contents p {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}


/* ==========================================================================
  6. Features Section Style
   ========================================================================== */
#launcher {
  background: url(../img/bg-a.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#map {
  background: url(../img/bg1.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#dragons {
  background: url(../img/bg2.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#magic {
  background: url(../img/bg3.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#character {
  background: url(../img/bg4.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#achievement {
  background: url(../img/bg5.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#strongholds {
  background: url(../img/bg6.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#thirst {
  background: url(../img/bg7.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#health {
  background: url(../img/bg8.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#enemies {
  background: url(../img/bg9.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#quests {
  background: url(../img/bg10.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#additional-features {
  background-color: #343a40;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#features .section-title {
  color: #fff;
}

#features .section-subtitle {
  color: #fff;
}

#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#features .box-item {
  padding: 15px 0;
}

#features .box-item .icon {
  border: 1px solid #0f52ba;
  text-align: center;
  float: left;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .text {
  padding-left: 80px;
}

#features .box-item .text h4 {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
}

#features .text p {
  font-size: 18px;
  line-height: 26px;
}

#features .box-item:hover .icon {
  background: #0f52ba;
}

#features .box-item:hover .icon i {
  color: #ffffff;
}

#features .show-box-right img {
  position: absolute;
  max-width: 175%;
  max-height: 175%;
}

#features .show-box-left img {
  position: absolute;
  max-width: 175%;
  max-height: 175%;
  left: -30%;
}

/* ==========================================================================
  14. Contact Us
  ========================================================================== */
.contact-us h3 {
  font-size: 36px;
  margin-bottom: 45px;
}

.contact-us p span {
  color: #0f52ba;
  padding-left: 10px;
}

#release {
  background: #343a40;
  color: #fff;
  position: relative;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
  padding: 14px;
  border-color: #fff;
  border-radius: 0px;
  color: #fff;
  background: transparent;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.form-control:focus {
  box-shadow: none;
  color: #fff;
  border-color: #0f52ba;
  background: transparent;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}

/* ==========================================================================
15. Footer Style
 ========================================================================== */
footer {
  background: #292f35;
  padding: 20px 0;
}

.footer-links {
  line-height: 48px;
}

.footer-links li {
  float: left;
}

.footer-links li a {
  color: #fff;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: #0f52ba;
}

.copyright {
  margin-top: 10px;
  float: right;
}

.copyright p {
  color: #fff;
}

.copyright p a {
  color: #fff;
}

.copyright p a:hover {
  color: #0f52ba;
}


/*Scroll down button/notification*/

.scroll-down {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 30%;
  border-radius: 50%;
}

